
body{
	width: 600px;
	height:400px;
	background-color: rgb(214,210,210);	
}
font {
	background-color: black;

}
#tintuc {
	margin : 0 0 0 0;	
	color: red ;
	width:100%;
	height:60px ;
	
}
#tintuc p{
	margin:0 0 0 180px ;

}
#tintuc button{
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border: none;
background-color:rgb(207,255,253); 
margin: 0 0 0 210px;
color:white;

}
.item genre-2 {
	
}
.item.genre-2 .item-title{
	width: 100%;
	height: 20px;
	float:left;
}
.item.genre-2 .item-title a{
	margin: 0 0 0 auto;
	color: rgb(0,0,0);
	text-decoration:none;
	text-transform:capitalize;
	font-size: 20px;
    word-break: break-all;
	ext-overflow:ellipsis
	float:left;	
}
.item.genre-2 .item-title a:hover {
	text-decoration:underline;
	word-spacing: 2px;
	font-size: 20px;
	height: 30px;
}
.item.genre-2 .item-description {
	margin-top:15px ; 
	height: 100px;
} 
.item.genre-2 .item-meta {
	margin: 58px 0 0 0 ;
	width: 100%;
	height: 5px;
}

.item.genre-2 .item-meta .item-views {

}
.item.genre-2 .item-meta .item-publish-date{
	
}

